/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* General Page */
body {
    font-family: 'Roboto', sans-serif;
    background-color: cornsilk;
    color: purple;
    margin: 0;
    padding: 0;
}


/* Header */
header {
    background-color: purple;
    color: lemonchiffon;
    text-align: center;
    padding: 30px;

    border-bottom: 6px solid gold;
    box-shadow: 0 4px 10px rgb(217, 183, 217);
}

header h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 5px;
}

header p {
    color: lemonchiffon;
    font-size: 18px;
}


/* Main Content */
main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}


/* Content Sections */
section {
    background-color: lemonchiffon;
    border: 3px solid goldenrod;
    border-radius: 12px;

    padding: 25px;
    margin-bottom: 25px;

    box-shadow: 0 4px 10px rgb(217, 183, 217);
}


/* Headings */
h2 {
    color: purple;
    background-color: thistle;

    border: 2px solid plum;
    border-radius: 8px;

    padding: 10px;
    font-size: 26px;
}


/* Paragraphs */
p {
    font-size: 17px;
    line-height: 1.6;
}


/* Project List */
ul {
    list-style-type: square;
    padding-left: 30px;
}

li {
    background-color: thistle;
    border-radius: 8px;
    padding: 10px;
    margin: 8px 0;
}


/* Links */
a {
    color: purple;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
    text-decoration: underline;
}


/* Footer */
footer {
    background-color: plum;
    color: purple;

    border-top: 5px solid gold;

    text-align: center;
    padding: 15px;

    box-shadow: 0 -3px 8px rgb(217, 183, 217);
}
